@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "List Users";
}

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="img/bluebanner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="banner__text">
                    <h2>Manage Users</h2>
                    <div class="banner__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Manage Users</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<div class="section">
    <div class="container branch_page_container">
        <div class="section-title">
            <div class='delete_form_container'>
                <a class="primary-btn cta-btn" asp-action="ListUsers">Manage Users</a>
                <a class="primary-btn cta-btn" asp-action="ListRoles">Manage Roles</a>
                <a class="primary-btn cta-btn" asp-controller="Genres" asp-action="Index">Manage Genres</a>
                <a class="primary-btn cta-btn" asp-controller="Books" asp-action="Index">Manage Books</a>
                <a class="primary-btn cta-btn" asp-controller="Branches" asp-action="Index">Manage Branches</a>
                <br /> <br /> <br /><a asp-controller="Home" asp-action="Index">Back Home</a>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            @if (Model.Any())
            {
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mb-3" style="width:auto; margin-bottom: 10px;">
                    Add new user
                </a>

                foreach (var user in Model)
                {
                    <div class="card mb-3" style="margin-bottom: 10px;">
                        <div class="card-header">
                            User Id : @user.Id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@user.UserName</h5>
                        </div>
                        <div class="card-footer">
                            <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                                <a class="btn btn-primary" style="width:auto"
                                   asp-controller="Administrator" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
                                <span id="confirmDeleteSpan_@user.Id" style="display: none">
                                    <span>Are you sure you want to delete?</span>
                                    <button type="submit" class="btn btn-danger" style="width:auto">Yes</button>
                                    <a href="#" class="btn btn-primary" onclick="confirmDelete('@user.Id', false)">No</a>
                                </span>
                                <span id="deleteSpan_@user.Id">
                                    <a href="#" class="btn btn-danger" onclick="confirmDelete('@user.Id', true)">Delete</a>
                                </span>
                            </form>
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="card">
                    <div class="card-header">
                        No users created yet
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Use the button below to create a user
                        </h5>
                        <a class="btn btn-primary" style="width:auto"
                           asp-controller="Administrator" asp-action="CreateUser">
                            Create new user
                        </a>
                    </div>
                </div>
            }

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Administrator/deleteUser.js"></script>
}